# Build folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# Logs
*.log
*.txt

# OS files
.DS_Store
Thumbs.db

# Publish profiles
*.PublishSettings
*.pubxml.user

# Secrets
appsettings.Development.json